Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath

.mvn/
mvnw
mvnw.cmd

**/.factorypath
**/*.tar.gz
**/.redis

settings.json
build-info.properties

# VS Code files
.history
.factorypath
jmeter.log

**/coverage-reports
.vscode
_temp_
*.hprof